<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <!-- this is passing in welcomeMessage into screamIt helper function -->
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
