<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>This is a new feature!</h1>
    {{> header}}

    <p>Hey, here are my projects you know?</p>

    {{> footer}}
  </body>
</html>
